.topScrol {
    cursor: pointer;
    position: fixed;
    bottom: 26px;
    right: 33px;
    z-index: 1;
}

.eltdf-popout {
    stroke-dashoffset: 101;
    stroke-dasharray: 101;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-transition: all .7s ease;
    -o-transition: all .7s ease;
    transition: all .7s ease;
}

.topScrol svg:hover .eltdf-popout {
    stroke-dashoffset: 0;
}

.topScrol svg circle, .topScrol svg polyline {
    stroke-width: 1.4;
}

.topScrol svg circle, .topScrol svg polyline {
    stroke: #715b3e;
}